name: go build
on:
  push:
    branches:
      - master
    paths:
      - 'stdproxy/**'
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.12.x'
      - run: |
          cd stdproxy
          go build
      - uses: actions/upload-artifact@v2
        with:
          name: stdproxy.exe
          path: stdproxy\stdproxy.exe

