name: dotnet build
on:
  push:
    branches:
      - master
    paths:
      - 'Keepass/**'
      - 'KeepassPinentry/**'
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'
      - run: dotnet build ./KeepassPinentry/
      - uses: actions/upload-artifact@v2
        with:
          name: KeepassPinentry.dll
          path: KeepassPinentry\bin\Debug\KeepassPinentry.dll

